.footer {
    padding: 26px 0;
    background-color: #33435A;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__year,
.footer__name {
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;
    text-align: left;
}

.footer__year {
    display: block;
}

.footer__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__item {
    position: relative;
    padding: 0 22px;

    &::after {
        position: absolute;
        content: '';
        top: 50%;
        right: -5px;
        width: 10px;
        height: 10px;
        background-color: #F82B88;
        transform: translateY(-50%) rotate(45deg);
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
}

.footer__link {
    font-weight: 700;
    line-height: 32px;
    color: #ffffff;
}

.footer__mail,
.footer__phone {
    display: block;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    text-align: right;
}

.footer__mail {
    margin-bottom: 3px;
}

@media(max-width: 1199.98px) {
    .footer__container {
        flex-wrap: wrap;
    }
    .footer__menu {
        order: 1;
        flex: 0 1 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .footer__copyright {
        order: 2;
        flex: 0 1 50%;
        max-width: 50%;
    }
    .footer__contacts {
        order: 3;
        flex: 0 1 50%;
        max-width: 50%;
    }
}

@media(max-width: 767.98px) {
    .footer__year,
    .footer__name,
    .footer__link,
    .footer__mail,
    .footer__phone {
        font-size: 16px;
        line-height: 21px;
    }
    .footer__item {
        padding: 0 10px;
    }
    .footer__item::after {
        display: none;
    }
    .footer__name {
        position: relative;
        top: -5px;
    }
}